body {
  background-color: white;
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(221,234,255,1) 50%);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

#jumbotron {
  background-color: white;
}

#navbar {
  background-color: white !important;
}

.navbar .navbar-nav .nav-link:hover {
  color: #313131;
}
.navbar .navbar-nav .nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #3d3d3d;
  color: transparent;
  width: 0%;
  content: '.';
  height: 3px;
}
.navbar .navbar-nav .nav-link:hover::after {
  width: 100%;
}

@media only screen and (min-width: 960px) {
  .navbar .navbar-nav .nav-link {
    padding: 1em 0.7em;
  }
  .navbar {
    padding-bottom: 0;
    padding-top: 0;
  }
  .navbar .navbar-brand {
    padding: 0 0.7em;
  }
}

.nav-link {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #031D44;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.nav-link:hover {
  opacity: 1.5;
}

#button:hover {
  color: white;
}

#middleBar {
  background-color: transparent;
}

#hourlyContainer {
  background-color: white;
}

#basic-nav-dropdown::after {
  display: none;
}

#basic-nav-dropdown:hover::after {
  width: 100%;
  display: unset;
}